@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@media screen and (max-width:600px) {

    h1 {
        text-align: center;
    }

    span {
        font-size: 35px;
        border-bottom: 0;
    }

    .options {
        margin-top: 60px;
    }

    .display {
        position: relative;
    }

    .display img {
        position: absolute;
        right: 15px;
    }

    footer {
        font-size: 10px;
        width: 90%;
        margin: auto;
        position: absolute;
        bottom: 20px;
        right: 15px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #002339;
    color: #fff;
}

.container {
    margin: 10% auto;
    width: 90%;
    max-width: 700px;
}

.display {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #333;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
    overflow: hidden;
}

.container h1 {
    font-weight: 500;
    font-size: 45px;
}

.container h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    transition: all 0.3s ease-in-out;
}

.options {
    text-align: center;
    word-wrap: break-word;
    margin-top: 20px;
}

.options label input {
    margin: 0px 5px;
}

.options label input[id="length"] {
    width: 45px;
    padding: 0px 5px;
}

.display img {
    width: 30px;
    cursor: pointer;
}

.display img:active {
    transform: scale(0.8);
}

.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
}

.container button img {
    width: 28px;
    margin-right: 10px;
}

.container button {
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    border-radius: 5px;
    padding: 16px 26px;
    margin: 5% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.container button:active {
    transform: scale(0.96);
}

footer {
    margin-top: 12%;
    text-align: center;
}